
.bod{

    background-color: antiquewhite;
}

.container{
    margin-top: 100px;
    color: blue;
    text-decoration: underline;
    text-shadow: 10em;
    align-items: center;
}

.table {
    text-indent: 3px;
    text-align: center;
    scroll-behavior: auto;
    font-size: larger;
    font-style: inherit;
}
#data{

    text-align: center;
    color: red;
}
.results{


}